
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	list-style: decimal;
}
ul {
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}



body{
    max-width: 1600px;
    margin: 0 auto;
}
.up{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

}
.up ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.up li{
    list-style-type: none;
}
.up li + li{
    margin-left: 35px;
}
.up a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #242f51;
    text-decoration: none;
}
button.typeBtn{
    margin-left: 20px ;
    width: 170px;
    height: 57px;
    border-radius: 50px;
    border-color: #2500f9;
    background-color: #2500f9;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    outline: none;
}


.fon{
    width: 100%;
    min-height: 850px;
    background-image: url('imgs/fon2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.fonMor{
    width: 1030px;
    margin: 0 auto;
    margin-top: -545px;
    margin-bottom: 295px;

}
.fonLabel{
    width: 360px;
    background-color: #e2eaed;
    border-radius: 20px;
    display: flex;
    align-items: center; 
}
.fonLabel span{
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #242f51;
}
.fonHead{
    width: 535px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #242f51;
    margin: 25px 0;
}
.fonText{
    width: 535px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #616368;
    line-height: 1.5;
    margin-bottom: 40px;
}
.fonButtun button:first-child{
    margin-left: 0;
}
.Btn{
    font-family: 'Poppins';
    font-size: 16px;
    color: #2500f9;
    margin-left: 20px;

    width: 170px;
    height: 57px;
    border-color: white;
    background-color: white;
    border-radius: 50px;
    border-style: none;

    transition: all .5s;
}

       /* SECTION-1 */

.section1{
    max-width: 970px;
    margin: 0 auto;
    margin-top: 125px;
    text-align: center;

}
.sectionAll{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.sectionHead{
    margin: 0 auto;
    width: 430px;
    font-size: 36px;
    margin-bottom: 35px;
}
.sectionText{
    margin: 0 auto;
    width: 630px;
    font-size: 16px;
    margin-bottom: 90px;
}
.kurta{
    width: 270px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;

}
.kurta img{
    margin-bottom: 35px;
}
.kurtaHead{
    margin: 0 auto;
    width: auto;
    font-size: 20px;
    margin-bottom: 15px;
}
.kurtaText{
    margin: 0 auto;
    width: auto;
    font-size: 16px;
}

     /* SECTION - 2 */

.section2{
    max-width: 950px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}
.sectionHead-2{
    margin: 0 auto;
    width: 575px;
    font-size: 40px;
    margin-bottom: 30px;
}
.sectionText-2{
    margin: 0 auto;
    width: 630px;
    font-size: 16px;
    margin-bottom: 65px;
}
.sectionAll2{
    margin-bottom: 100px;
    text-align: left;
}


.choice{
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    padding-left: 45px;
    background-color: #f5f7fa;
    outline: none;
    border: none;
    text-align: left;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #242f51;
    cursor: pointer;
}
.choice::after{
    content: "\02795";
    float: right;
    margin-right: 35px;
}
.choice.active::after{
    content: "\2014";
}
.choiceText{
    display: none;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 15px 90px 75px 45px;
    background-color: #f5f7fa;
    font-size: 16px;
}

@media(min-width:768px) and (max-width: 1050px){
    .up li + li{
        margin-left: 20px;
    }
    button.typeBtn{
        margin-left: 10px ;
    }    
    .fon{
        background-position: 100% center;

    }
    .fonMor{
        width: 520px;
        margin-top: 80px;
        margin-bottom: 0px;
    }
    .sectionAll{
        justify-content: space-around;
    }
    
}
